node_modules/
.expo/
dist/
web-build/

*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store

.env*.local
.env
keystore.properties
android/
build/

*.tsbuildinfo

coverage/

expo-env.d.ts
